<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeuralBreaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeuralBreaker.Properties.Settings>
            <setting name="commandLineApp" serializeAs="String">
                <value>captchad.exe</value>
            </setting>
            <setting name="commandLineArgs" serializeAs="String">
                <value>-output "%image%" "%temp%"</value>
            </setting>
            <setting name="pathNeuralNetwork" serializeAs="String">
                <value>actual.xml</value>
            </setting>
            <setting name="autostartLearning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lockedConfiguration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="onlyUseUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="automaticSave" serializeAs="String">
                <value>True</value>
            </setting>
        </NeuralBreaker.Properties.Settings>
    </userSettings>
</configuration>