<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LinkCleaner.Properties.Settings>
            <setting name="exclude" serializeAs="String">
                <value>megaupload</value>
            </setting>
            <setting name="exclude_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="user_check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="last" serializeAs="String">
                <value />
            </setting>
            <setting name="win_left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="win_width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="win_height" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="win_top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="win_max" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>user:password</value>
            </setting>
        </LinkCleaner.Properties.Settings>
    </userSettings>
</configuration>